<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<!--配置注解扫描-->
    <context:component-scan base-package="com.smart.controller"/>
    <mvc:annotation-driven/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--引入dubbo服务-->
    <dubbo:application name="wisdom-manager-web"/>
    <dubbo:registry protocol="zookeeper" address="47.103.14.73:2181"/>
    <!--<dubbo:reference interface="com.taotao.service.TestService" id="testService"/>-->
    <dubbo:reference interface="com.smart.service.StudentLoginService" id="studentLoginService" timeout="10000"/>
    <dubbo:reference interface="com.smart.service.TeacherLoginService" id="teacherLoginService" timeout="10000"/>
    <dubbo:reference interface="com.smart.service.StudentCourseService" id="studentCourseService" timeout="10000"/>
    <!--使用分页查询ItItem对应的服务接口-->
    <!--配置本地资源不被拦截-->
    <mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>
    <mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>

</beans>