# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/wisdom_manager/wisdom_manager_service/target/
/wisdom_manager/wisdom_manager_pojo/target/
/wisdom_manager/wisdom_manager_dao/target/
/wisdom_manager/wisdom_manager_interface/target/
/wisdom_common/target/
/wisdom_web/target/
