<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.mapper.TbCourseitemPptMapper">
  <resultMap id="BaseResultMap" type="com.smart.pojo.TbCourseitemPpt">
    <id column="courseitem_id" jdbcType="VARCHAR" property="courseitemId" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    courseitem_id, upload_time, update_time, file_url
  </sql>
  <select id="selectByExample" parameterType="com.smart.pojo.TbCourseitemPptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_courseitem_PPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_courseitem_PPT
    where courseitem_id = #{courseitemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_courseitem_PPT
    where courseitem_id = #{courseitemId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.smart.pojo.TbCourseitemPptExample">
    delete from tb_courseitem_PPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smart.pojo.TbCourseitemPpt">
    insert into tb_courseitem_PPT (courseitem_id, upload_time, update_time, 
      file_url)
    values (#{courseitemId,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{fileUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smart.pojo.TbCourseitemPpt">
    insert into tb_courseitem_PPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseitemId != null">
        courseitem_id,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseitemId != null">
        #{courseitemId,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smart.pojo.TbCourseitemPptExample" resultType="java.lang.Long">
    select count(*) from tb_courseitem_PPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_courseitem_PPT
    <set>
      <if test="record.courseitemId != null">
        courseitem_id = #{record.courseitemId,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadTime != null">
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fileUrl != null">
        file_url = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_courseitem_PPT
    set courseitem_id = #{record.courseitemId,jdbcType=VARCHAR},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      file_url = #{record.fileUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smart.pojo.TbCourseitemPpt">
    update tb_courseitem_PPT
    <set>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where courseitem_id = #{courseitemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smart.pojo.TbCourseitemPpt">
    update tb_courseitem_PPT
    set upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      file_url = #{fileUrl,jdbcType=VARCHAR}
    where courseitem_id = #{courseitemId,jdbcType=VARCHAR}
  </update>
</mapper>